.App {
  text-align: center;
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mainclass{
  /* background-color: #f0fff0; */
  height: 100vh;
  background: #b3b4ee;
  /* background: rgb(53,167,200); */
  /* background: linear-gradient(90deg, rgba(55, 195, 234, 0.5) 0%, rgba(177, 224, 228, 0.6) 60%,rgba(215, 238, 246, 0.868)) 100%; */
/* background: linear-gradient(90deg, rgba(53,167,200,0.5) 0%, rgba(89,209,184,0.5) 40%, rgba(178,223,155,0.5) 100%); */
  width: 1000%;
  display: flex;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; */
  justify-content: center;
}

.imgbox {
  /* background-color: #f0feff; */
  background-color: #b3b4ee;
  width:50%;
  display: flex;
}

.docimg {
  position: absolute;
  left:0;
  bottom:0;
  /* width:50%; */
  height: 80%;
}

.maincontainer {
  background-color: #edeefa;
  border-radius: 20px 0px 0px 20px;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.pagetitle {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  top:5%;
  /* left:42.5%; */
  color: #353374;
}

.auth-form-container{
  margin-top: 10vh;
  position: absolute;
  /* right:20%; */
  display: flex;
  /* background-color: rgb(19, 115, 75); */
  /* border: rgb(19, 115, 75); */
  border:#4e4999;
  border-style: solid;
  padding: 20px 20px;
  /* height: 70vh; */
  width: 40%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .LoginForm, .RegisterForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

label {
  color: #4e4999;
  text-align: left;
  padding: 0.25rem 0;
  font-size: 15px;
}

input {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border:none;
  border-radius: 10px;
  width: 100%;
}

input:focus{
  outline: none;
}

/* button {
  border:none;
  color: white;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  /* background-color: rgb(19, 115, 75); */
  /* background-color:  #C6FF7D; */
/* } */


.name {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.firstname{
  margin-right: 10px;
  width: 50%;
}
.lastname{
  margin-left: 10px;
  width: 50%;
}

.loginButton{
  color: white;
  padding: 15px;
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
  background-color:  #4e4999;
}

.registerButton{
  color: white;
  padding: 15px;
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
  background-color:  #4e4999;
}

.linkbutton {
  background:none;
  color:  #4e4999;
  width: 100%;
  border: none;

  padding: 20px;
}

/* SIDENAV */
.nav {
  height: 100%;  
  width: 8%;  
  position: fixed; 
  z-index: 2; 
  top: 0; 
  left: 0; 
  /* background-color:#9AE06F;  */
  background-color: #b3b4ee;
  transition: .5s ease; 
  overflow-x: hidden; 
  padding: 20px;
  /* padding-top: 20px;  */
  display: flex; 
  flex-direction: column; 
  align-items: left;
  border-radius: 0px 15px 15px 0px;
}


a:after , a:link, a:active, a:visited, a:hover{

margin: 5px;
text-decoration: none;
color: black;
}
/* TOPNAV */
.tnav{
  position: absolute;
  z-index: 1;
  height: 7vh;
  background-color: #ffffff;
}

.Welcometitle {
  position: absolute;
  /* font-family:'Raleway', sans-serif;
  font-weight: 600; */
  font-size: 25px;
  left:10vw;
}

/* DASHBOARD */
.mainc {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ffffff;

}

.dashboard-container{
  display: flex;
  background-color: #ffffff;
  height: 90%;
  width: 100%;
}

.dbimg {
  position: absolute;
  left:5vw;
  bottom:0;
  /* width:50%; */
  height: 55%;
  z-index: 0;
}

.container1 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top:10%;
  /* bottom:5vh; */
  flex-direction:column;
  height: 85%;
  width: 70%;
  left:30%;
  background-color: transparent;
  
  /* background-color: aquamarine; */
}

.profile {
  /* position: absolute; */
  /* top:10vh; */
  height: 30vh;
  width: 32vw;
  /* background-color: #9AE06F; */
  background-color: #edeefa;
  /* background-color: #b3b4ee; */
  border-radius: 8px;
  padding:15px;
  text-align: center;
  filter: drop-shadow(5px 5px 5px #97979730);
}

.databox {
  /* position: absolute; */
  height: 50vh;
  width: 32vw;
  /* background-color:#E6E6E6; */
  background-color: #edeefa;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 5px #97979730);
}

.appointmentsbox{
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  width: 32vw;
  background-color:#b3b4ee;
  /* background-color: #edeefa; */
  border-radius: 8px;
  text-align: center;
  filter: drop-shadow(5px 5px 7px #9e9d9d82);
}

.apmt{
  background-color: #edeefa;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 98%;
  height: 5vh;
  margin: 5px;
  padding: 5px;
  padding-right: 8px;
  border-radius: 3px;
}

.apmt-rollno{
  width: 20%;
  height: auto;
  /* border-style: solid;
  border-color: #d9d9d9;
  border-right: black; */
}
.apmt-name{
  width: 60%;
  height: auto;
}
.apmt-no{
  width: 2vw;
  height: auto;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}

.symptoms{
  font-size: smaller;
  margin-left: 20px;
  padding: 10px;
  text-align: left;
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
}
.cardimg {
  position: absolute;
  width: 40%;
  height: 75%;
  right: 0;
  align-items: center;
}

.imgincard{
  width: 50%;
  height: 60%;
  border-radius: 50%;
}

/* booking box */
.bookingBox{
  position: absolute;
  right:10vw;
  top:20vh;
  width: 65vw;
  height: 50vh;
  background-color: #b3b4ee;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  filter: drop-shadow(-12px 10px 10px rgba(0, 0, 0, 0.194));
}


.dateSelect {
  width: 30%;
}

.bookbtn{
  position: absolute;
  right: 15vw;
  bottom:20vh;
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  background-color: #4e4999;
  color: #ffffff;
  border-style: none;
}

.AutoCompleteBox{
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  width: 40vw;
}

.bgdiv{
  height: 100vh;
  width:100vw;
}
.nurseimg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30vw;
}

.BookTitle {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  /* font-size: 40px; */
  top:7vh;
  right: 50vw;
  /* left:42.5%; */
  color: #353374;
}